bd-select {
  .select {
    &__mainContainer {
      width: 100%;
      position: relative;
    }

    &__mainLabel {
      cursor: pointer;
      display: block;
    }
  }
}

.select__popup {
  width: 100%;
  position: absolute;
  background-color: white;
  z-index:10;
  top: 0;

  &__input[type="text"] {
    width: 100%;
    background-color: #ffffff;
  }

  bd-v-repeat {
    li {
      cursor: pointer;
      &.selected, &.selected:hover {
        background-color: #26a69a; //replace that color with materializecss variable
        color: #ffffff; //replace that color with materializecss variable
      }
      &:hover {
        background-color: #26a69a;
        color: #ffffff;
      }
    }
  }
}

