bd-v-repeat {
  .container {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    height: 300px;
    width: 100%;

    li {
      position: relative;
      margin: 0;
      height: 50px;
      
      &.even {
        background-color: #eee;
      }
    }
  }
}
