:host {
  .mtp-display { background-color: #26A69A !important; }
  .mtp-clock--active { background-color: #26A69A !important; }
  .mtp-clock__hand { background-color: #26A69A !important; }
  .mtp-clock__center { background-color: #26A69A !important; }
}
