bd-multi-select {
  .chips-container {
    line-height: 3.5rem;
  }
  .multiple-select-container {
    padding: 1rem;
  }
  .multiple-placeholder {
    font-size: 1rem;
  }
  .multiple-caret {
    float: right;
  }

  .disabled {
    opacity: 0.5;
  }
}
